@model school.Models.Teacher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameTe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameTe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailTe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailTe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneTe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneTe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spesialisteT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spesialisteT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
